@font-face {
    font-family: PoiretOne;
    src: url('../fonts/PoiretOne-Regular.woff2')
        format('woff2'),
         url('../fonts/PoiretOne-Regular.woff')
        format('woff');
}

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    outline: none !important;
    font-display: optional;
    background: #182d40;
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 7px;
    background: #eee;
}
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #eee;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgba(139, 139, 139, 0.71);
    border-radius: 20px;
    transition: 0.3s cubic-bezier(1, -0.02, 1, .99);
}
::-webkit-scrollbar-thumb:active {
    background: #333;
}
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-display: optional;
    outline: none !important;
}
main {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}
img {
    color:#eee;
}

.nav__item-ico > img {
    line-height: 5em;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    z-index: -1;
    float: right;
}

.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100vh;
    min-height: 65px;
    width: 100%;
    background: rgba(57, 69, 83, 0.6);
    position: fixed;
    z-index: 2;
    top: 0;
}
.nav__item-ico{
    margin: auto;
    text-align: center;
/*    padding: 40px 40px;*/
    width: 20vw;
    height: 20vh;
    min-width: 120px;
    cursor: alias;
}
.nav__item-ico > .headtxt{
        font-size: 120px;
}
.nav__item {
    margin: auto;
    height: 20vh;
    text-align: center;
    width: 10%;
    padding: 50px 5px;
    border-radius: 20px;
    text-decoration: none;
    word-wrap: break-word;
    color: #5590ff;
    border: 3px solid #5590ff;
    font-weight: 700;
    font-size: 30px;
    transition: 0.5s cubic-bezier(.87, .12, 1, 1.04);
    background: rgba(136, 75, 0, 0.1);
    text-shadow: 10px 10px 10px #000;
}
.nav__item-1:hover{
    background: url('../img/nav__item-bg1.jpg');
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__item-2:hover{
    background: url('../img/nav__item-bg2.jpg');
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__item-3:hover{
    background: url('../img/nav__item-bg3.jpg');
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__item-4:hover{
    background: url('../img/nav__item-bg4.jpg');
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__item-5:hover{
    background: url('../img/nav__item-bg5.jpg');
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__item:hover {
    color: #eee;
    box-shadow: 20px 20px 5px rgba(0,0,0,.1), 1px 1px 5px rgba(0,0,0,.1), 5px 5px 5px rgba(0,0,0,.1), 10px 10px 5px rgba(0,0,0,.1), 15px 15px 5px rgba(0,0,0,.1);
}
.hamburger {
    display: none;
}
.headimg {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #292929 url('../img/header.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 3px 30px rgba(0,0,0,.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    text-align: center;
}
.headtxt {
    font-family: PoiretOne,  sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px #999;
}
@media only screen and (max-width: 1367px) {
    .headimg {
        background-position: top center;
        background-size: contain;
        height: 100vh;
    }
    .headtxt {
        font-size: 40px;
    }
}
@media only screen and (max-width: 767px) {
    body{
        overflow-x: hidden
    }
    .overlay{
        right: -100%;
        position: absolute;
        margin: 0;
        width: 99.5%;
        height: 100%;
        filter: blur(20px);
        background: rgba(0,0,0,.4);
        -webkit-filter: blur(10px);
        z-index: 1;
        transition: 0.6s cubic-bezier(1, -0.11, 1, 1.01);
    }
    .overlay.open {
        right: 0;
    }
    .nav {
        flex-flow: column nowrap;
        height: 100vh;
        width: 100%;
        min-height: 470px;
        align-items: baseline;
        justify-content: flex-start;
        background: rgba(80,80,40,.8);
        left: -100%;
        transition: 0.4s cubic-bezier(.68, .13, 1, 1.01);
    }
    .nav.open {
        left: 0;
    }
    .nav__item-ico{
        display: none;
    }
    .nav__item{
        height: 16px;
        font-size: 18px;
        padding: auto;
        margin: 5px auto;
        box-shadow: none!important;
        border: none;
        background: none;
        width: 100%;
        text-align: center;
    }
    .headimg{
        height: 95vh;
    }
    .hamburger {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: fixed;
        width: 50px;
        height: 42px;
        border-radius: 50%;
        top: 5%;
        transform: translate(0, -50%);
        left: 2%;
        z-index: 3;
        cursor: pointer;
        transition: 0.4s cubic-bezier(0, .57, .68, .55);
    }
    .hamburger:active {
        background: #222;
    }
    .hamburger p{
        height: 3px;
        background: #eee;
        width: 60%;
        z-index: 4;
        margin: 3px 0;
        border-radius: 2px;
        box-shadow: -4px 2px 5px rgba(0,0,0,.9);
        transition: 0.3s cubic-bezier(.25, .1, .3, 1.07);
    }
    .hamburger.pressed p:first-child{
        transform: rotate(45deg);
        margin-top: 5px;
    }
    .hamburger.pressed p:nth-child(2){
        margin: -6px;
        transform: rotate(-45deg);
    }
    .hamburger.pressed p:last-child{
        opacity: 0;
    }
    .headtxt {
        font-size: 30px;
    }
}
